body {
  margin: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.avatar {
  width: 150px;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #E5BEED;
  color: #2b2839;
  border-bottom: 10px solid #9593D9;
  cursor: url(bird.png), auto
}



